@import "./utilities/maxWidth";

.header {
  @extend .maxWidth;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__logo {
  height: 40px;
}

.header__menu {
  font-size: 3.5rem;
  opacity: 0.4;
}

.header__menu:hover {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .header {
    justify-content: flex-start;
    padding: 20px 0;
  }

  .header__menu {
    display: none;
  }
}
