.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__logo {
  height: 40px;
}

.header__menu {
  font-size: 3.5rem;
  opacity: 0.4;
}

.header__menu:hover {
  cursor: pointer;
}
