@import "./variables";
@import "./utilities/button";
@import "./utilities/maxWidth";
.hero {
  @extend .maxWidth;
  display: flex;
  flex-direction: column;
  height: auto;
}

.hero__image-container {
  display: block;
  width: 100%;
  height: 300px;
  margin: 0 0 0 10%;
}

.hero__image-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero__text-container {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.hero__title {
  font-size: 4rem;
  font-weight: 800;
}

.hero__description {
  font-size: 1.6rem;
  opacity: 0.4;
  margin: 20px 0;
}

.hero__button {
  @extend .button__cyan;
}

.hero__button:hover {
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .hero {
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }

  .hero__image-container {
    width: 70%;
    height: 400px;
    margin: 0;
  }

  .hero__image-container img {
    object-fit: contain;
  }

  .hero__text-container {
    width: 35%;
    text-align: initial;
    margin: 0;
  }
}
