@import "./variables";
@import "./utilities/maxWidth";
@import "./utilities/button";

.shortenItem {
  @extend .maxWidth;
  display: flex;
  flex-direction: column;
  background: #fff;
  font-size: 1.6rem;
  border-radius: 10px;
  margin: 20px auto;
}

.shortenItem__raw {
  border-bottom: 1px solid $gray;
  padding: 20px;
}

.shortenItem__short {
  color: $cyan;
  padding: 20px;
}

.shortenItem__button {
  @extend .button__cyan;
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .shortenItem {
    flex-direction: row;
    align-items: center;
    height: 80px;
  }

  .shortenItem__raw {
    width: 65%;
    padding: 0 0 0 20px;
    border: 0;
  }

  .shortenItem__short {
    width: 20%;
    padding: 0;
  }

  .shortenItem__button {
    width: 150px;
    margin: 0;
  }
}
