@import "./variables";
@import "./utilities/button";
@import "./utilities/maxWidth";

.shorten-container {
  padding: 125px 5% 30px;
  margin: 250px 0 0;
  background: $gray;
  width: 100%;
  height: auto;
  min-height: 200px;
  position: relative;
}

.shorten {
  @extend .maxWidth;
  width: 90%;
  height: 170px;
  border-radius: 15px;
  text-align: center;
  background-color: $dark-violet;
  position: absolute;
  top: -85px;
}

.shorten__form {
  display: flex;
  flex-wrap: wrap;
  border-radius: inherit;
  padding: 20px;
  border-top-right-radius: 15px;
  background: url(../images/bg-shorten-mobile.svg) no-repeat top right;
}

.shorten__input {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: 0;
  padding: 10px;
  margin: 0 0 20px 0;
  font-size: 1.8rem;
}

.shorten__error {
  color: $red;
  font-size: 1.4rem;
  position: absolute;
  top: 70px;
}

.shorten__input[placeholder] {
  color: opacity(0.1);
}

.shorten__button {
  @extend .button__cyan;
  width: 100%;
  font-size: 2.5rem;
  border-radius: 5px;
  margin-top: 10px;
}

@media screen and (min-width: 1024px) {
  .shorten {
    left: 0;
    right: 0;
    height: 130px;
  }

  .shorten__form {
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url("../images/bg-shorten-desktop.svg");
  }

  .shorten__input {
    width: 75%;
    margin: 0;
  }

  .shorten__button {
    margin-left: 20px;
    margin: 0 0 0 20px;
    width: 20%;
  }

  .shorten__error {
    top: initial;
    bottom: 15px;
    left: 45px;
  }
}
